@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@1,300&display=swap');



@font-face {
  font-family: MilkyHoney;
  src: url(/assets/milky_honey.ttf);
}

body {
  background-color: #e39dcc;
}

h1 {
  font-family: 'MilkyHoney', serif;
  text-align: center;
  font-size: 100px;

}

.topnav {
  text-align: center;
  background-color: #a57dbe;
  overflow: hidden;
  color: white;
}

--About The Creators Section body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #365683;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

table.products {
  border: 1px solid #000000;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

table.products td,
table.products th {
  border: 1px solid #AAAAAA;
  padding: 2px 8px;
}

table.products tbody td {
  font-size: 13px;
}

table.products thead {
  background: #75B09C;
  border-bottom: 2px solid #C5C5C5;
}

table.products thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #C5C5C5;
}

table.products thead th:first-child {
  border-left: none;
}

table.products tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  border-top: 2px solid #444444;
}

table.products tfoot td {
  font-size: 14px;
}