@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@1,300&display=swap');



@font-face {
  font-family: MilkyHoney;
  src: url(/assets/milky_honey.ttf);
}
@font-face {
  font-family: Nexa;
  src: url(/assets/nexa-light.otf);
}
@font-face {
  font-family: NexaBold;
  src: url(/assets/nexa-bold.otf);
}
body {
  background-color: #ffedde;
}

h1 {
  font-family: 'MilkyHoney', serif;
  text-align: center;
  font-size: 100px;
  color: white;
}

h2{
  font-family: NexaBold;
  text-align: center;
  color:black;
  font-size: 50px;

}

p{
  font-family: Nexa;
  text-align: center;
  color: black;
}

.topnav {
  background-color: #FFBD59;
  overflow: hidden;
}
.topnav-right {
  float: right;
}
.topnav a{
  float: left;
  text-align: center;
  color: white;
  padding: 0px 4px;

}
a:link{
color: white;
font-size: 20px;
font-family: 'NexaBold', serif;
}

a:active{
  color: #004AAD;
  font-size: 20px;
  font-family: 'NexaBold', serif;
}

a:visited{
  color: white;
  font-size: 20px;
  font-family: 'NexaBold', serif;
  }
  
--About The Creators Section body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

#about{
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  background-color: #365683;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-section h1{
  font-family: NexaBold;
  font-size: larger;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

table.products {
  border: 1px solid #000000;
  float:left;
  text-align: center;
  border-collapse: collapse;
  margin: 10px;
  font-family: Nexa;
}

table.products td,
table.products th {
  border: 1px solid #000000;
  padding: 2px;
}

table.products tbody td {
  font-size: 13px;
  padding: 5px;
}


table.wholefoods thead {
  background: #006F46;
  color:white;
}

table.aldi thead{
  background: #001E5E;
  color:white;
}

table.kroger thead {
  background: #21409A;
  color:white;
}

table.products thead th {
  font-size: 15px;
  font-weight: bold;
  color:white;
  text-align: center;
}

table.products thead th:first-child {
  border-left: none;
}

table.products tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  border-top: 2px solid #444444;
}

table.products tfoot td {
  font-size: 14px;
}

#home h2{
  text-align: center;
  color:white
}

#home p{
  text-align: center;
  color:white
}

input[type=text] {
  border-radius: 25px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 25%;
  font-family: Nexa;
}

div.card img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  width: 50%;
  border-radius: 50%;
}
